[2016-09-22 19:16] jlbellido opened #7 "Basic Home Page"
We need to reproduce in Drupal the current Home page plus some minor improvements.

- [x] As user I want to subscribe to the newsletter from the home page with the same styles that we have currently.
- [x] As user I want to see the social networks (Facebook, Twitter, G+, Youtube, Instagram) of drupal dev days at the bottom of the home page.
- [x] As user I want to see the a header with the logo, d

[2016-10-06 18:40] jlbellido opened #13 "Metatag module"
* Include metatag module

[2016-10-06 19:37] #13 closed

[2016-10-09 20:06] jlbellido opened #18 "Contact form"
- [x] As user I want to send questions or doubts via a contact form.
- [x] As user I want to set my name, email address, subject and message within my contact form for having a reply from the organization.
- [x] Configure it properly with the right email account
- [x] As administration don't want to be spammed via the contact form.
- [x] Set the texts auto-reply and the success message properly.
-

[2016-10-09 20:07] jlbellido opened #19 "Metatag configuration"
As content editor I want to set custom meta tags for improving the SEO of the web.

[2016-10-09 20:23] jlbellido opened #20 "Basic Page content type"
- [x] As content editor I want to have available a content type for publishing information pages like "The venue", "The event", etc.. .
- [x] As content editor I want to specify a custom URL alias for information pages.
- [x] As content editor I want to upload images via the WYSIWYG.
- [x] As content editor I want to have a nice WYSIWYG for setting rich text in my information pages.
- [x] As conte

[2016-10-15 18:02] keilovecraft opened #22 "Error pages"

[2016-10-16 14:56] jlbellido commented on #20
All points are integrated. This can be closed. Thanks!

[2016-10-16 14:56] #20 closed

[2016-10-16 18:27] jlbellido commented on #7
Thanks! Finally we have the same home page that we have on production. Now we can close this issue.

[2016-10-16 18:27] #7 closed

[2016-10-17 06:56] keilovecraft opened #24 "Login Page"

[2016-10-17 21:13] jlbellido opened #25 "[Front] Styles for basic pages."
We need to review the basic pages from the front-end side.

**How to reproduce:**
- Create a node of type basic page.
- Provide a title and a sample body text.
- Check the styles.

[2016-10-17 21:18] jlbellido opened #26 "[Front] Styles for the main menu"
We should provide some basic styles for the main menu. Currently there are added some menu items as example and the block is placed properly.

**How to reproduce:**
- Go to admin/structure/menu/manage/main
- Provide some menu items for the first level.
- Provide some menu items for the second level.
- In Block Layout config (Primary Main Menu), you must configure it and add more levels for this me

[2016-10-23 18:06] jlbellido opened #29 "[User - Register] Register form"
- As user I want to create a new account in the web page and specify the following data:
  - Full Name
  - Drupal.org nick name
  - Drupal.org profile link
- The picture will be available at the normal user edit form.
- As user I want to receive a custom email in order to confirm my email when I sign up via the register form.
- As user I want to have the role "attendee" automatically once that I’v

[2016-10-23 18:08] jlbellido opened #30 "Attendees list"
- As user I want to check all the attendees that will attend to the event with an infinite scroll.
- As user I want to see a default nice pirate picture for each attendee in case it is not provided by the user.
- As user I want to see by attendee a picture and the drupal.org nickname linking to the d.o profile.
- As user I want see the total number of attendees of the event.

[2016-10-24 20:54] jlbellido opened #31 "[Sponsors] Add new sponsors"
As content editor I want to add sponsors. Each sponsor will have the following information:
- Sponsor name
- Sponsor logo.
- Web page link
- Sponsor level. Options available
  - Diamond
  - Platinum
  - Gold
  - Silver
  - Bronze
  - Coffee
  - Lunch
  - CodeSprint
- As admin user I don’t want to accessible a detailed page of the sponsor. Only administrators will be allowed to access to them.

[2016-10-24 20:57] jlbellido opened #32 "[Sponsors] Sponsors list"
As user I want to see all sponsors of the event. Categorized by sponsor level starting with the top sponsors.

[2016-10-24 20:58] jlbellido opened #33 "[Sponsors] Top sponsors on pages."
As user I want to see the top sponsors of the devdays in every page.

[2016-10-24 21:00] jlbellido opened #34 "[Sponsors] Become a sponsor call to action block"
As user I want to see a call to action block at the home page that points to the sponsoring info page. This call to action will be used in other sections too.

[2016-10-24 21:03] jlbellido opened #35 "[Sponsors] Become a sponsor page"
As user I want to know what are the different possibilities for sponsoring the event. This page will have a main text that summarizes the sponsoring information and a link where I'll be able to download the sponsorship documentation.

[2016-11-01 17:09] rafavermo commented on #25
I'm working in this task but I have no permissions to assign me. @jlbellido

[2016-11-02 20:40] jlbellido commented on #32
Starting with this task.

[2016-11-08 15:32] jlbellido commented on #33
Placed the following blocks in all pages :
- Sponsors Platinum
- Sponsors Gold
- Sponsors Silver

The only exceptions are : <front> and "/sponsors"

[2016-11-09 19:46] jlbellido commented on #33
This can be closed, since we have a first iteration.

[2016-11-09 19:46] #33 closed

[2016-11-09 19:47] jlbellido commented on #32
Created the required blocks for each sponsors ship level, placed them under /sponsors page.

[2016-11-09 19:51] jlbellido commented on #32
**How to reproduce locally:**
- Create a several sponsors from node/add, you can use devel generate for this.
- Create a basic page and put as url alias "/sponsors".
- You'll be able to see at the bottom all sponsors categorized by level at the basic page you created before.

@keilovecraft , this need to have a basic styling.

Thanks!

[2016-11-09 19:53] jlbellido commented on #31
This can be closed.

[2016-11-09 19:53] #31 closed

[2016-11-09 20:27] jlbellido opened #40 "[Tickets] Buy a ticket block"
As user I want to see a link for buying my ticket in different parts of the web.

This block should have a text calling to the action and a link pointing to the external platform for ticket selling.

[2016-11-09 20:29] jlbellido opened #41 "[Tickets] Set up external platform for selling tickets."
As user I want to buy my ticket in an external platform.

[2016-11-09 20:55] jlbellido opened #42 "[Tickets] Set special personal data when buying a ticket"
As user I want to specify the following data when I guy my ticket:
- I’m vegan. (Yes/No)
- Food restriction. (Text)
- I want t-shirt or not. (Yes/No)

[2016-11-09 21:00] jlbellido opened #43 "[News] As content editor I want to create news of the event"
As content editor I want create news with the following fields:
- Title
- Body configured with WYSIWYG
- Custom meta information.
- Image for the lists.

[2016-11-09 21:02] jlbellido opened #44 "[News] Most important news block"
As user I want to see the most important news in a block placed in the home page.

[2016-11-09 21:03] jlbellido opened #45 "[News] News list"
- As user I want to see the latest news of the event in a list.

[2016-11-09 21:08] jlbellido opened #46 "[Sponsors] Sponsors Badges."
As user I want to check the sponsor badges in order to place them in my web.

[2016-11-13 12:02] jlbellido commented on #18
This can be reviewed form the front point of view.

[2016-11-15 20:30] jlbellido commented on #22
@keilovecraft podemos centrar un poco más la caja de la newsleter en las paginas de error? Creo que queda un poco raro.

Gracias!!!
![error_pages-bug](https://cloud.githubusercontent.com/assets/1301237/20322789/a31c4f38-ab7a-11e6-8809-224cb44ce9b4.png)

[2016-11-15 20:32] jlbellido commented on #24
Review again once that #22 is finally fixed.

[2016-11-15 20:39] jlbellido commented on #25
![25_success_test](https://cloud.githubusercontent.com/assets/1301237/20323196/12a21012-ab7c-11e6-9fbf-b40ce2f81eee.png)

I think it's fine for a first iteration, we'll review this again once the designs are finished. Thanks for your work here @rafavermo !

[2016-11-15 20:44] jlbellido commented on #26
For me it's fine by the moment, we'll work in a separate issue for adapt the menu to the final design. We'll close this one. Thanks @keilovecraft for your work here!

[2016-11-15 20:44] #26 closed

[2016-11-15 20:46] jlbellido commented on #25
We'll work in a separate issue to adapt the basic pages to the final design.

[2016-11-15 20:46] #25 closed

[2016-11-15 20:48] jlbellido commented on #34
Starting this.

[2016-11-17 12:26] dimaro commented on #30
Hi!, I will work on this.

[2016-11-17 12:37] jlbellido commented on #35
We'll create  the "Become a sponsor page" with the basic page content type. But we need to have a field for uploading files.

[2016-11-17 16:48] lluvigne commented on #35
Working on it!

[2016-11-17 17:58] dimaro commented on #45
I'm working on it!

[2016-11-17 18:41] lluvigne commented on #44
I will work on this, but this issue depend on #45 in order to build the block on the same view.

[2016-11-17 19:27] mcgarciawq commented on #32
Take a look @jlbellido , now you can place a carrousel and give it back to me :)

[2016-11-17 19:59] mcgarciawq commented on #22
En los cambios de la issue #32 se ha subido este cambio con algunos estilos básicos.

[2016-11-17 19:59] #22 closed

[2016-11-24 19:51] jlbellido commented on #45
Tested and working the basics. We'll have to review this again once that we have the final design. Meanwhile we can apply some basic styles.

Thanks!

[2016-11-24 19:57] jlbellido commented on #44
Let's use a different view mode for this. Instead of the teaser. May be "highlighted" ??

Other is fine, tested and working. Thanks @lluvigne !

[2016-11-24 19:59] jlbellido commented on #43
Tested and closing. I think we can close this.

Thanks @dmarrufo !

[2016-11-24 19:59] #43 closed

[2016-11-24 20:01] jlbellido commented on #24
It's fine, thanks @keilovecraft !

[2016-11-24 20:01] #24 closed

[2016-11-24 20:05] jlbellido commented on #32
Looks really nice now! Thanks @keilovecraft . We'll move this ticket to the backlog until having a final design.

[2016-11-24 20:08] jlbellido commented on #35
Ok, we have the file there. Thanks @lluvigne . I'll move this ticket to the backlog until have a final design.

[2016-11-24 20:26] jlbellido opened #55 "[Jobs] As content editor I want to create a new /edit a job offer"
As content editor I want to create a new /edit a job offer with the following data:
- Job offer title
- Reference to the sponsor with the default autocomplete.
- Body configured with WYSIWYG

[2016-11-24 20:40] jlbellido opened #56 "[Jobs] As user I want to see a list of the offers available on the event."
As user I want to see a list of the offers available on the event. For each job offer I want to see the following data:

- The title of the offer linking to the detailed offer..
- The company logo linked to their web page.
- A trimmed version of the offer or its summary.
- A link "Read more" linking to the detailed job offer.

[2016-11-24 20:43] jlbellido opened #57 "[Jobs] As user I want to see the detailed description of a Job offer."
As user I want to see the detailed description of a Job offer. I want to see the following data for a job offer:
- The title of the job
- The logo of the company linked to their webpage.
- The full version of the job's body.

[2016-11-24 21:04] jlbellido opened #58 "[Call for papers] As registered user I want to send a session."
As registered user I want to send a session or training proposal for the event. I want to specify the following data about my proposed session.

- Title of my session.
- Description of my session.
- Experience level needed: (Beginner, Intermediate, Advanced)
- Speaker/s : Reference to the users registered.
- Type: (Session or Workshop)
- Topic: (Case studies, Development, DevOps, Frontend, Perform

[2016-11-24 21:10] jlbellido opened #59 "[Call for papers] As user I want to check all submitted sessions"
As user I want to check all submitted  sessions. The list will look like a table. For each session I want to see the following information:

- Title of the talk linking t the detailed proposal.
- Experience level.
- Speaker(s). Linking to their Drupal.org account.

On the other hand, I want to be able to filter by (Title & Experience level)

[2016-12-01 10:18] jlbellido commented on #44
Ready for applying some basic styles.

**How to reproduce:**
* Create some news and check the "sticky on the lists" option.
* Go to the home and you'll be able to see the highlighted news from the DDDays

[2016-12-01 21:08] jlbellido commented on #55
Done.

[2016-12-01 21:08] #55 closed

[2016-12-01 21:09] jlbellido commented on #56
Ready to be reviewed by the front-end team.

[2016-12-01 21:15] jlbellido commented on #57
This can be reviewed by the front-end team.

[2016-12-07 18:02] jlbellido commented on #29
Working on this.

[2016-12-08 16:48] jlbellido commented on #29
Ready to be reviewed by the front-end team.

**How to reproduce:**
* Enable the register form at /admin/config/people/accounts .
* Go to /user/register.

[2016-12-08 17:17] jlbellido commented on #30
**How to reproduce**
* Create some users with the attendee role.
* Go to / attendees

This can be reviewed by the front-end team

[2016-12-09 06:29] jlbellido commented on #58
Starting this task

[2016-12-28 20:11] jlbellido opened #68 "[Home] Add styles to the home page."
We need to add styles to the home page accordingly to the approved design.
The current status is :
- All blocks added to the home page.
- Added the fullpage.js library and configured with a very basic configuration.
- Created the regions needed.
- Defined the page--front.html.twig template with a first version.

**How to reproduce the home page:**
After having your environment synchronized you wil

[2016-12-28 20:15] jlbellido opened #69 "[Sponsors] Allow SVG images at sponsor content type."
We need to allow svg extension for images at the sponsor content type.

[2016-12-28 22:19] jlbellido commented on #69
Now svg files can be added to sponsor nodes. This needs to be reviewed.

[2016-12-29 08:26] jlbellido opened #73 "[Global] Footer"
We need to finish the footer region in terms of styling. Currently the blocks and texts are placed and the regions created.

Please check the designs in advance.

[2016-12-29 19:11] jlbellido commented on #46
We need check first if we have the designs of the badges.

[2016-12-29 19:14] jlbellido commented on #34
By the moment we'll use a normal menu item pointing to section from the home page.

[2016-12-29 19:14] #34 closed

[2016-12-29 19:21] jlbellido commented on #18
Checked the current styles and for me they are fine. Thanks @rafavermo !

[2016-12-29 19:23] jlbellido commented on #18
Still pending to set the proper texts for the emails.

[2016-12-29 19:25] jlbellido opened #74 "[Global] Change logo"
We need to change the logo of the website to the new version.

[2016-12-29 19:27] jlbellido opened #75 "[Home] Fix the linkt to second slide functionality"
Currently we have integrated the anchor tag for moving to the second slide at the home page but it seems it is not working.

[2016-12-29 19:37] jlbellido opened #76 "[Sponsors] Wrap the sponsor blocks in a single layer"
We need to wrap the list of sponsors in a single layer in order to apply the styles accordingly to the designs. The wrap will contain different sponsorship level and it will be used in several places, home, sponsors list, etc..

[2016-12-29 19:42] jlbellido opened #77 "[Basic Pages] Seville"
Basic page with general information about Seville.

[2016-12-29 19:43] jlbellido opened #78 "[Basic Pages] Seville >> Venue"
Basic page with information about the venue.

[2016-12-29 19:44] jlbellido opened #79 "[Basic Pages] Seville >> Accomodation"
Basic page with a list of possible accommodations for the Drupal dev days.

[2016-12-29 19:46] jlbellido opened #80 "[Basic Pages] Copyright"
This basic page will contain all the copyright references

[2016-12-29 19:47] jlbellido opened #81 "[Basic Pages] Program >> Sprints"
Basic page with all the information related to the Sprints.

[2016-12-29 19:49] jlbellido opened #82 "[Basic Pages] Community >> Code of conduct"
Basic page with the code of conduct of the event.

[2016-12-29 19:51] jlbellido opened #83 "[Basic Pages] Community >> The team"
Basic page with information about the team that was involved organizing the event.

[2016-12-29 19:56] jlbellido opened #85 "[News] News detail page"
We need to apply /review the styles for the News detail pages.

[2016-12-29 22:09] jlbellido commented on #75
Fixed

[2016-12-29 22:09] #75 closed

[2017-01-03 13:05] jlbellido commented on #69
We are having issues when we use an image style.

[2017-01-11 21:08] #74 closed

[2017-01-11 21:08] #76 closed

[2017-01-11 21:09] jlbellido commented on #73
Starting this

[2017-01-13 18:31] jlbellido commented on #73
Approved some changes, but it is need to finish it.

[2017-01-13 19:01] babette-landmesser commented on #73
Christoph is working on that.

[2017-01-13 19:40] babette-landmesser commented on #85
I start it.

[2017-01-13 19:40] jlbellido commented on #73
How to reproduce locally:

- Add some menu items at: /admin/structure/menu/manage/footer-left-menu

[2017-01-13 19:42] jlbellido commented on #35
We'll use the same page than sponsors. This is not longer needed. Thanks @lluvigne

[2017-01-13 19:42] #35 closed

[2017-01-13 19:43] jlbellido commented on #44
This is done already, thanks @ckrina it is really awesome!

[2017-01-13 19:43] #44 closed

[2017-01-13 19:57] cgahmann commented on #73
I start it.

[2017-01-14 09:30] jlbellido commented on #73
We still need to review the footer menu because the menu items are a little bit hidden.
![footer_menu_hidden](https://cloud.githubusercontent.com/assets/1301237/21953921/7259e52e-da44-11e6-9e52-e013c81dbec8.png)

[2017-01-14 10:10] jlbellido commented on #18
Checking the texts and email configuration

[2017-01-14 14:12] babette-landmesser opened #97 "[Global] adapt global page elements"
Adapt global element styles such as navigation, footer and (main) content area.

[2017-01-14 15:41] babette-landmesser commented on #73
The footer menu should now have enough space so that the menu items are readable. But on basic pages, the lines from the background image should not be visible. This is not done yet.

[2017-01-14 16:06] #18 closed

[2017-01-17 19:36] jlbellido commented on #97
Tested and It's fine for me. Thaks @babette-landmesser for your work here!

[2017-01-17 19:36] #97 closed

[2017-01-17 19:47] jlbellido opened #103 "[News] Images on detail pages for news"
The images for the detail page for a News are small for desktop. Could we put them the on top of text? If in your opinion it will not look good, we'll keep as it is right now.

[2017-01-17 19:48] jlbellido commented on #85
Looks good as a first version. Added #103 as improvement. Thanks @babette-landmesser for your work here!

[2017-01-17 19:48] #85 closed

[2017-01-17 19:49] #40 closed

[2017-01-17 19:49] #41 closed

[2017-01-17 19:49] #42 closed

[2017-01-17 19:52] jlbellido commented on #45
We need to adapt the news list to the given design (https://projects.invisionapp.com/share/7K9PLICYJ#/screens/214488110)

The changes are the following:

Backend:

- [x] Display to published date with a correct format.

Frontend
- [x] Adapt the styles to the design.

[2017-01-17 19:57] jlbellido opened #104 "[Footer] Background to full witdth"
We need to set the background image for the footer to 100% width as it is commented at https://projects.invisionapp.com/share/7K9PLICYJ#/screens/214488490/comments

[2017-01-17 20:00] jlbellido opened #105 "[Footer] The footer menu is not readable sometimes"
Commented by @babette-landmesser at https://github.com/AsociacionDrupalES/devdaysseville/issues/73#issuecomment-272631779

[2017-01-17 20:01] jlbellido commented on #73
I'm closing this ticket and we'll work on the pending topics in separated tickets: #105 and #104

Thanks @babette-landmesser for your work here!

[2017-01-17 20:01] #73 closed

[2017-01-17 20:10] jlbellido opened #106 "[Global] Sidebar menus"
We need to implement the sidebars menus for the website.
Concrete tasks:

Backend:
- [x] Create a new menu a place it at the sidebar region.
- [x] Create a new menu a place it at the second sidebar region.

Frontend:
- [x] Customize the page templates accordingly.
- [x] Apply the styles according the design https://projects.invisionapp.com/share/7K9PLICYJ#/screens/210910508.

**How to work on this

[2017-01-17 20:14] jlbellido opened #107 "[Home] Home menu of the first stage"
Follow-up to #68

We need to add the styles needed to the home menu at the first stage.
![home_menu_issue](https://cloud.githubusercontent.com/assets/1301237/22038022/e1ac8028-dcf9-11e6-862c-fbeaf3bad2ed.png)

[2017-01-17 20:18] jlbellido commented on #68
I'm closing this ticket in favor to the open points:

Created #106 and #107

Big thanks to your really hard work @ckrina . I really appreciate your time here!

[2017-01-17 20:18] #68 closed

[2017-01-17 20:28] jlbellido opened #108 "[Sponsors] Rotation Silver and Bronze sponsors"
Follow-up to #32

The current status is we have the complete list of sponsors, but we need to display the silver and bronze sponsors smaller than they are currently and with a rotation block using a carousel.

Tasks:

Backend

- [x] Integrate the slick.js library with the project.
- [x] Display the Bronze and Silver sponsors using the rotation theme with the AllSponsorsBlock.

Frontend

- [x] Cust

[2017-01-17 20:30] jlbellido commented on #32
Closing thios task in favor of the open points.

Big thanks to @keilovecraft for your work here!

[2017-01-17 20:30] #32 closed

[2017-01-17 21:45] jlbellido opened #109 "[Global] Links on basic pages styles."
The styles for normal links at the basic pages are not different from the normal text. At least it is diffictult to differentiate.

**How to reproduce**
- Create a basic page
- On the body field, set a link using the WYSYWYG and save.
- Check that is hard to differentiate from the normal text.

[2017-01-17 23:19] jlbellido opened #110 "[Global] Responsive menu with sidebars menu"
Wee need to add the sidebars menus described at #106 to the responsive menu.

You can find the designs at : https://projects.invisionapp.com/share/7K9PLICYJ#/screens/214488378

[2017-01-17 23:26] jlbellido commented on #29
We need to review the status of this.

[2017-01-17 23:27] jlbellido commented on #30
We need to review the status of this. Specially if the attendees list fits with the current design https://projects.invisionapp.com/share/7K9PLICYJ#/screens/214656315

[2017-01-17 23:28] jlbellido commented on #59
We need to check the status of this. And match it with the given design  https://projects.invisionapp.com/share/7K9PLICYJ#/screens/214489043

[2017-01-17 23:29] jlbellido commented on #58
We need to check the status of this task and match it with the given designs https://projects.invisionapp.com/share/7K9PLICYJ#/screens/214488310

[2017-01-19 17:28] tbeenpwn commented on #109
Working on it!

[2017-01-19 17:28] babette-landmesser commented on #107
I start styling the buttons.

[2017-01-19 19:31] jlbellido commented on #107
Solved, thanks @babette-landmesser

[2017-01-19 19:31] #107 closed

[2017-01-19 19:42] jlbellido commented on #109
Merged! Thanks @tbeenpwn !!

[2017-01-19 19:42] #109 closed

[2017-01-19 20:37] babette-landmesser commented on #45
I'll do the frontend stuff now.

[2017-01-21 11:15] jlbellido commented on #45
Thank @babette-landmesser ! Now the only thing pending is the backend part.

[2017-01-21 11:22] jlbellido opened #122 "[Sponsors] Background image at sponsors page"
![sponsors - drupal dev days sevilla 2017 2017-01-19 22-36-15](https://cloud.githubusercontent.com/assets/1301237/22174032/2e3b3db2-dfd4-11e6-949f-34a70a8d261b.png)

[2017-01-21 11:26] jlbellido opened #123 "[Home] Background not visible at the newsletter region on mobile"
Thanks @ckrina for reporting.

![background error on the newsetter region](https://cloud.githubusercontent.com/assets/1301237/22174050/c5b0d058-dfd4-11e6-8f89-a7b6e2cab326.jpg)

[2017-01-21 11:29] jlbellido opened #124 "[Sponsors] Titles font size for bronze and silver."
Thanks @penyaskito for reporting.

[2017-01-21 12:21] jlbellido commented on #108
Hi! This tickets depends on https://github.com/AsociacionDrupalES/devdaysseville/pull/99. Since this is big change in the sponsors section, I wouldn't like to merge this until having the frontend part done.

**How to work on this?**
- Create a new branch from your dev branch like an other normal ticket.
- Fetch the changes introduced in  the other branch: git pull https://github.com/jlbellido/devd

[2017-01-21 12:22] jlbellido commented on #108
The backend part done.

[2017-01-21 12:34] jlbellido commented on #104
Fixed, thanks!

[2017-01-21 12:34] #104 closed

[2017-01-21 12:47] jlbellido commented on #30
I'm reviewing this.

[2017-01-21 13:21] jlbellido commented on #30
Reviewed and adapted to the design. This is ready to be styled.

[2017-01-23 20:54] jlbellido commented on #108
Looks really nice  @babette-landmesser thanks for your time and awesome work here!

[2017-01-23 20:54] #108 closed

[2017-01-23 20:54] jlbellido commented on #30
Tested and looks fine! Thanks @babette-landmesser !

[2017-01-23 20:54] #30 closed

[2017-01-23 20:57] jlbellido commented on #106
I'm starting with this.

[2017-01-23 21:14] jlbellido commented on #106
Now the front-end part is not blocked.

[2017-01-23 21:37] jlbellido commented on #29
I've checked this task, added some open points but they don't block the frontend part.

[2017-01-23 21:50] jlbellido commented on #58
Starting this

[2017-01-23 22:33] jlbellido commented on #58
Submitted the backend part, now the front-end part can be done.

[2017-01-24 20:42] jlbellido commented on #59
Reviewing this ticket.

[2017-01-24 21:14] Nesta commented on #124
Work in progress

[2017-01-25 09:53] rafavermo commented on #123
Work in progress

[2017-01-25 10:04] Nesta commented on #106
WIP

[2017-01-25 10:04] rafavermo commented on #124
For me. I work in progress.

[2017-01-25 20:03] jlbellido commented on #59
Reviewed and adapted the session list to the design and customized the session teaser. This is ready to be styled.

[2017-01-25 22:14] jlbellido opened #137 "[Attendess] User detail page"
We need basic styles for the user detail page. Use the same structure than the attendees list. https://projects.invisionapp.com/share/7K9PLICYJ#/screens/214656315

[2017-01-25 22:16] jlbellido opened #138 "[Call for papers] Detail page of a session."
We need to add the styles accordingly to the design.

https://projects.invisionapp.com/share/7K9PLICYJ#/screens/210910508

[2017-01-26 10:06] mcgarciawq commented on #58
WIP 👍

[2017-01-26 12:44] mcgarciawq commented on #58
@jlbellido can you review and close this issue if everything's ok?

[2017-01-26 13:19] jlbellido commented on #58
Looks really nice! Attaching a screenshot
![add-edit-session-form](https://cloud.githubusercontent.com/assets/1301237/22332674/62ea12ca-e3d2-11e6-8189-c40d13c1d2a8.png)

Thanks @keilovecraft for your awesome work!

[2017-01-26 13:19] #58 closed

[2017-01-26 13:25] jlbellido commented on #124
It's fixed now, thanks @rafavermo for your work here!

Here is the attached screenshot.
![124_sponosrs_titles](https://cloud.githubusercontent.com/assets/1301237/22332840/440f9f36-e3d3-11e6-97d7-a297eaaf2e4c.png)

[2017-01-26 13:25] #124 closed

[2017-01-26 16:40] Nesta commented on #106
Done!

[2017-01-26 16:41] Nesta commented on #110
WIP

[2017-01-26 16:41] Nesta commented on #110
ouch, Done in #106, but >720 the buttons not show, i go fix this

[2017-01-26 17:55] Nesta commented on #29
WIP

[2017-01-26 18:08] Nesta commented on #110
Done

[2017-01-26 18:17] Nesta commented on #29
Done, but I think .... the tabs are very ugly no?....

[2017-01-26 18:28] Nesta commented on #137
WIP

[2017-01-26 19:13] Nesta commented on #59
WIP

[2017-01-26 19:59] Nesta commented on #137
Done!

[2017-01-26 20:24] rafavermo commented on #56
WIP

[2017-01-26 21:03] jlbellido commented on #106
Checked and it is fine from my side. Thanks @Nesta for such as awesome work!
![106_sidebar_menus](https://cloud.githubusercontent.com/assets/1301237/22350231/4c268dc0-e413-11e6-962e-b81eddb34c14.png)

[2017-01-26 21:03] #106 closed

[2017-01-26 21:05] jlbellido commented on #110
Great! Thanks @Nesta for your work here!! awesome!

[2017-01-26 21:05] #110 closed

[2017-01-26 21:06] jlbellido commented on #29
We can improve the tabs the next sprint. It is fine by the moment. Thanks @Nesta !

[2017-01-26 21:06] #29 closed

[2017-01-26 21:06] jlbellido commented on #137
Done! Thanks @Nesta !

[2017-01-26 21:06] #137 closed

[2017-01-27 10:47] mcgarciawq commented on #138
Ready for a review :)

[2017-01-27 12:28] mcgarciawq commented on #59
WIP - nesta out :P

[2017-01-27 21:06] jmfegu commented on #122
Work in progress

[2017-01-30 12:04] #59 closed

[2017-01-30 12:04] #138 closed

[2017-01-30 12:05] mcgarciawq commented on #56
Ready! :dancer:

[2017-01-30 12:20] mcgarciawq commented on #57
WIP :icecream:

[2017-01-30 12:44] mcgarciawq commented on #57
Ready for you @jlbellido :unicorn:

[2017-01-30 13:03] mcgarciawq commented on #105
WIP

[2017-01-30 16:22] mcgarciawq commented on #105
Done!

[2017-01-30 16:24] mcgarciawq commented on #122
@jmfernandezemergya some news about this task?

[2017-01-30 16:24] mcgarciawq commented on #123
@rafavermo some news about this task?

[2017-01-30 21:24] jlbellido commented on #56
tested and looks really nice to me! Thanks @keilovecraft @rafavermo for you awesome work!

[2017-01-30 21:24] #56 closed

[2017-01-30 21:25] jlbellido commented on #57
WOW! Thanks @keilovecraft ! :1st_place_medal:

[2017-01-30 21:25] #57 closed

[2017-01-30 21:32] jlbellido commented on #105
Hey @keilovecraft thanks! But I 'm not sure if it fits with the designs. I've asked to the designer about this topic. Let's keep this open until having a reply.

Thanks!!

[2017-01-30 21:33] #77 closed

[2017-01-30 21:33] #78 closed

[2017-01-30 21:33] #79 closed

[2017-01-30 21:33] #81 closed

[2017-01-30 21:33] #82 closed

[2017-01-30 21:40] jlbellido opened #163 "[Sponsors] AllSponsors block config changes"
We need to add a new config option to the Allsponsors block:
- Checkbox: Set silver and bronze with as rotation.

Additonally, we need to place this block in all pages as follows:

- [x] Home + all pages except /sponsors : Checked the rotation configuration,
- [x] /sponsors page: Unchecked the rotation configuration.

[2017-01-30 21:44] jlbellido opened #164 "[Keynotes] Keynote detail page"
We need a section for the featured speakers of the event.
For this section we need the following changes:

- New content type: Keynote with the following fields:
  - Keynote Title.
  - Keynote description.
  - Group: The speaker
    - Speaker name
    - Speaker possition
    - Speaker Bio
    - Speaker picture
  - Group: The company
    - The company name
    - The company description.
    - The c

[2017-01-30 22:00] jlbellido opened #165 "[Keynotes] List of Keynotes"
We need to add list of the keynotes of the event at : program/keynotes path

It will use the teaser view mode of key notes content type.

**How to reproduce**
- Create several nodes of Keynote content type.
- Go to /program/keynotes path

[2017-01-30 22:01] jlbellido opened #166 "[Attendee] Create users automatically when a ticket is sold."
We want to create users automatically when a new ticket is sold.

[2017-01-30 22:08] jlbellido opened #167 "[Contact form] Mentors contact form"
We need a new contact form for looking for volunteers at the event. The contact form will have the following fields:
- A nice message at top
- Name
- Email
- Subject
- Message
- Captcha

[2017-01-31 09:48] mcgarciawq commented on #103
WIP. I'm going to do some changes to put this detail like a Session detail.

[2017-01-31 10:20] mcgarciawq commented on #103
Done! Thanks for the issue, now you can review it the entire detail page :)

[2017-01-31 21:09] jlbellido commented on #164
I'm starting this

[2017-01-31 22:41] jlbellido commented on #164
Done the backend part
Update the summary with the "how to reproduce"

[2017-01-31 22:44] jlbellido commented on #165
Configured the teaser view mode and created a view lit for this. This is ready for being styled.

[2017-02-01 09:00] mcgarciawq commented on #164
WIP

[2017-02-01 10:56] mcgarciawq commented on #165
Styles done! Waiting for the date field.

[2017-02-01 11:07] mcgarciawq commented on #105
Perfect @jlbellido tell me when you have news about this or if you prefer another design for this block.

[2017-02-01 13:33] mcgarciawq commented on #164
Done! Waiting for date field.

[2017-02-01 18:32] lluvigne commented on #45
WIP

[2017-02-01 19:43] jlbellido opened #188 "[Global] Responsive menu with scroll"
We are reaching the max number of menu items to be desplayed in the responsive menu. We need to provide a solution for solving this problem we will have in the future.

[2017-02-01 19:43] jlbellido commented on #188
Would be possible / good to add an scroll bar?

[2017-02-01 19:45] jlbellido opened #190 "[Attnendess] Infinite scroll"
Would be cool if we could add an infinite scroll at the attendees list.

[2017-02-01 20:22] jlbellido opened #191 "[Sponsors] Individual sponsors"
We need a section for the individual sponsors. We would need the following changes:

- [x] New role "Individual sponsor" without any special permissions, just the rol.
- [x] Create a new view of user teasers located at /sponsors/individual-sponsors that will render users with the role individual sponsor. Same output than the attendee list.
- [x] 20 elements per page or infinite scroll.
- [x] Revie

[2017-02-01 20:25] rafavermo commented on #188
WIP

[2017-02-01 20:44] jlbellido opened #193 "[All sponsors block] Add Coffe, Food, Social Event & Mechanical Bull"
We need to add the following sponsors types to the AllSponsorsBlock without rotation :

- Coffee sponsor
- Food sponsor
- Social Event sponsor
- Mechanical Bull sponsor.

[2017-02-01 20:48] lluvigne commented on #167
WIP

[2017-02-01 20:51] jlbellido commented on #45
Thanks  @lluvigne ! This is solved now

[2017-02-01 20:51] #45 closed

[2017-02-01 20:53] jlbellido commented on #103
Solved! Thanks @keilovecraft !

[2017-02-01 20:53] #103 closed

[2017-02-01 21:02] jlbellido commented on #163
Starting this task

[2017-02-02 16:17] jmfernandezemergya commented on #167
I'll work in the front part when backend finished

[2017-02-02 21:37] #164 closed

[2017-02-02 21:37] #165 closed

[2017-02-02 21:38] jlbellido commented on #190
Starting this task

[2017-02-02 22:54] lluvigne commented on #191
WIP

[2017-02-03 08:49] jmfernandezemergya commented on #191
WIP

[2017-02-03 08:56] mcgarciawq commented on #191
WIP

[2017-02-03 09:30] jlbellido commented on #163
To be reviewed by the frontend team in case I broke some styles.

[2017-02-06 09:06] mcgarciawq commented on #167
The styles are ready for @lluvigne pull request :dancing_women:

[2017-02-06 09:17] mcgarciawq commented on #188
@rafavermo review the styles for menu in screens between 700-800px

[2017-02-06 09:52] mcgarciawq commented on #191
Done!

[2017-02-06 21:17] jlbellido commented on #188
@keilovecraft can I close this task or is there something needed here?

[2017-02-06 21:17] jlbellido commented on #163
Done!

[2017-02-06 21:17] #163 closed

[2017-02-06 21:17] jlbellido commented on #193
Done! Thanks @keilovecraft !

[2017-02-06 21:17] #193 closed

[2017-02-06 21:18] jlbellido commented on #191
Done Thanks @keilovecraft ! Looks really nice on live!

[2017-02-06 21:18] #191 closed

[2017-02-06 21:18] jlbellido commented on #191
@lluvigne thanks to you as well!

[2017-02-06 21:19] jlbellido commented on #166
We will not do this.

[2017-02-06 21:19] #166 closed

[2017-02-06 22:04] jlbellido opened #213 "[Sponsors] Partners & media partners"
We need to add 2 new sponsorship levels
- Partners
- Media partners

We need:
- [x] Add the new options to the field: field_sponsorship_type.
- [x] We need to create the 2 new displays in the sponsors view.
- [x] We need to add the new blocks at AllSponsorsBlock

We will use the bronze level image size.
No fronted work is expected.

[2017-02-06 22:06] jlbellido opened #214 "[Sponsors] Fix the height of sponsor images"
We need to set a fixed height for all the sponsors images. Currently we have the problem that some silver sponsors are bigger than the gold sponsors.

[2017-02-06 22:06] jlbellido commented on #214
@Nesta @keilovecraft What do you think we could do here?

[2017-02-06 22:09] jlbellido opened #215 "[Sponsors] Highlighted sponsors"
We need to develop a way to make some sponsors as official. For instance, official media partners.

Specific requisites need to be defined.

[2017-02-06 22:10] jlbellido commented on #215
I will define the requisites for this.

[2017-02-06 22:12] jlbellido opened #216 "[Sessions] Selected sessions list"
We need to display the selected sessions list.
We need the following changes:
- [x] New page with all published and accepted sessions.
- [x] We need to apply the same styles than the submitted sessions list.

[2017-02-07 10:25] jlbellido opened #217 "[User-register] Add recaptcha module"
We are having some problems with  fake accounts at the user register form. Next step is using recaptcha module (https://www.drupal.org/project/recaptcha) .

[2017-02-07 20:47] jlbellido commented on #217
Starting it

[2017-02-07 21:20] jlbellido commented on #217
Added it and putting it on hold until having the recaptcha config on the live environment.

[2017-02-08 08:26] dimaro commented on #216
I will work on it this evening!

[2017-02-08 08:39] mcgarciawq commented on #214
WIP

[2017-02-08 14:43] jlbellido opened #221 "[TextFormats] Text Formats selection hidden on the node forms"
We have hidden the text format select. At this moment, as admin, we are not able to select the text format for textareas.

[2017-02-08 20:07] jlbellido opened #222 "[Safari errors] Front-end errors"
![sponsors_sfarai](https://cloud.githubusercontent.com/assets/1301237/22755211/7909a6e0-ee42-11e6-96c2-5e47ca76051b.jpg)

[2017-02-08 20:45] jlbellido commented on #217
Done and deployed. Bots! Out of my ship!

[2017-02-08 20:45] #217 closed

[2017-02-08 20:46] jlbellido opened #224 "[Global] Add redirect module."
We need to redirect to the login page in case of 403 errors.

[2017-02-08 20:48] jlbellido commented on #224
Starting this.

[2017-02-08 21:29] jlbellido commented on #224
Done!

[2017-02-08 21:29] #224 closed

[2017-02-09 11:03] luismagr opened #227 "Show errors when users create their accounts"
I have created my account and when the process has been finished, i have seen this error. I have no way for reproducing it.

![register_dev_days](https://cloud.githubusercontent.com/assets/2010864/22780560/760d44f6-eebf-11e6-9e48-23c3c56b4a06.png)

[2017-02-09 11:04] jlbellido commented on #227
Thanks @luismagr for reporting. We'll have a look.

[2017-02-09 12:28] jlbellido commented on #214
Review with the current sponsors, we have some square logos. http://seville2017.drupaldays.org/sponsors
http://seville2017.drupaldays.org/program/sprints

[2017-02-09 16:36] penyaskito commented on #222
![screen shot 2017-02-08 at 19 55 29](https://cloud.githubusercontent.com/assets/516163/22792800/435809fe-eeee-11e6-9858-695e79d29c3d.png)
Screenshot I got in the bug report by mail instead of my phone screenshot ;)

[2017-02-09 19:47] jlbellido commented on #221
Thanks @keilovecraft now we can use the textformats and therefore the WYSIWYG.

[2017-02-09 19:47] #221 closed

[2017-02-09 19:47] jlbellido commented on #213
Starting this.

[2017-02-09 20:05] jlbellido commented on #213
Done

[2017-02-09 20:05] #213 closed

[2017-02-11 16:42] penyaskito opened #234 "Problem with videos"
@pakmanlh reported this

[2017-02-11 16:43] penyaskito commented on #234
![img_20170211_174314](https://cloud.githubusercontent.com/assets/516163/22855493/93f7ffc4-f081-11e6-88db-a2b3ad984b0f.jpg)

[2017-02-13 21:36] jlbellido commented on #167
Done! Thanks @lluvigne for your here! And apologize for reviewing it so late. Check https://github.com/jlbellido/devdaysseville/commit/5779fae15f239b3b6e61c724108ba3832283af25 at the block class because I think it is interesting for you.

Thanks!

[2017-02-13 21:36] #167 closed

[2017-02-14 07:19] mcgarciawq commented on #234
@jlbellido :man_dancing:

[2017-02-14 07:32] mcgarciawq commented on #214
:man_artist:

[2017-02-14 07:33] keilovecraft commented on #105
@jlbellido news?

[2017-02-14 07:33] keilovecraft commented on #122
@jmfernandezemergya ?

[2017-02-14 07:34] keilovecraft commented on #123
@rafavermo ?

[2017-02-14 07:34] mcgarciawq commented on #188
Need more work.

@rafavermo are you with this task?

[2017-02-14 20:07] jlbellido opened #241 "[Contact] Volunteers contact form"
We need a volunteers contact form, it will have the same aspect and configuration than the mentors contact form.

[2017-02-14 20:15] jlbellido commented on #234
@keilovecraft Tested locally and works like a charm! Thanks for this present on San Valentine's Day! This is much better than a Love Bear! :bear:

[2017-02-14 20:15] #234 closed

[2017-02-14 21:10] jlbellido commented on #216
Thanks @dmarrufo , I knew that you are still loving me. Thanks for this present at the Valentine's Day !! I hope we can continue our love history :heartpulse:

[2017-02-14 21:10] #216 closed

[2017-02-14 21:46] jlbellido commented on #214
Thanks @keilovecraft , I've just pushed the presets as we decided. SInce this has a big impact on the sponsors section. I'm waiting to the feedback from the team. If this is ok from their side, I'll clode this ticket. Thanks!!!

[2017-02-14 21:57] rafavermo commented on #188
Done!

[2017-02-15 16:40] dimaro commented on #216
OMG! @jlbellido My heart only belongs to you.. (L)

[2017-02-22 15:57] jlbellido opened #246 "[Sponsors] Space between the content and the sponsors block"
hi!,

We need to reduce as much a possible the text between the content at the sponsors page and the block of sponsors (https://seville2017.drupaldays.org/sponsors). If not, they are not visible at all.

[2017-02-23 19:52] jlbellido commented on #241
Doing it

[2017-02-23 20:13] jlbellido commented on #246
ooohhh yeah!!! Thanks a lot @keilovecraft !! This is a real treasure! And not what I have hidden in the secret island... xDD

[2017-02-23 20:13] #246 closed

[2017-02-23 20:15] jlbellido commented on #241
Done!

[2017-02-23 20:15] #241 closed

[2017-02-23 20:15] jlbellido commented on #214
Alll good Yeahh! Thanks! @keilovecraft !

[2017-02-23 20:15] #214 closed

[2017-02-23 20:16] jlbellido commented on #46
Done

[2017-02-23 20:16] #46 closed

[2017-02-24 07:11] mcgarciawq commented on #188
@jlbellido this task is ready to be closed!

[2017-02-24 08:12] #188 closed

[2017-02-24 19:43] jlbellido opened #251 "[Program] Program pages."
- [x] Menu top block with the program days.
- [x] Block Icon leyend.
- [x] Paragraph - Row
- [x] Paragraph - room/session

**How to reproduce:**

1. Create a keynote node
2. Create 2 sessions.
3. Create some menu items at admin/structure/menu/manage/schedule-menu
4. Create a Schedule node as follows in order to reproduce the different scenarios we'll have:

- Provide a title.
- First schedule row

[2017-02-24 23:07] jlbellido commented on #251
Done the backend configuration. Now we need the awesome work from the frontend side.

[2017-02-24 23:17] jlbellido commented on #251
Added the sections: "How to reproduce" and Notes. It is ready to be styled.

[2017-02-26 15:34] jmfegu commented on #122
@keilovecraft. Sorry I have tried to work in this issue but I don't have a break lately.

[2017-02-28 00:41] dimaro commented on #227
Maybe this problem would be solved with dev version?
https://www.drupal.org/node/810534#comment-11860706

[2017-02-28 19:27] mcgarciawq commented on #222
Cannot reproduce in macOS Sierra - Safari 10.0.3

[2017-03-01 17:41] mcgarciawq commented on #251
Done! 🤙

[2017-03-01 17:46] mcgarciawq commented on #122
@jlbellido the addition of new sponsors fixed this problem (because the height has grown 🗡 ). Can you review it again, please?

[2017-03-01 19:37] jlbellido commented on #122
![screenshot-seville2017 drupaldays org-2017-03-01-20-35-55](https://cloud.githubusercontent.com/assets/1301237/23477573/ba0e1680-febe-11e6-81cf-19cf44cfa25a.png)

I've checked it and it is fixed now. Thanks to both of you! Without you this ship is going to nowhere!

[2017-03-01 19:37] #122 closed

[2017-03-01 19:38] jlbellido commented on #222
@penyaskito could you contact with the reporter in order to check their Browser version, please? Thanks!

[2017-03-01 19:39] jlbellido commented on #251
@keilovecraft  Looks awesoma! We still need to review the mobile version. But looks really promising !

[2017-03-02 10:43] penyaskito commented on #222
Mailed him.

[2017-03-02 13:10] jlbellido opened #257 "[Volunteers] Captcha needed"
We need to add a captcha at the volunteers form.

[2017-03-02 18:46] jlbellido commented on #251
AWESOME work @keilovecraft with the styling. Thanks to everybody that was involved here: @ckrina @keilovecraft you rule!

[2017-03-02 18:46] #251 closed

[2017-03-02 20:47] jlbellido commented on #257
Done

[2017-03-02 20:47] #257 closed

[2017-03-06 22:11] jlbellido opened #267 "[Program] Line between sessions"
Hi!

We have some cases that some sessions with big title are too close to each other if they share the same time slot in the program page.
Example https://seville2017.drupaldays.org/program/schedule/21-03-2017

![program_dddsvq_2017](https://cloud.githubusercontent.com/assets/1301237/23632459/39c5a7ba-02c2-11e7-9d7d-dd78ea8845ba.png)

Could we add a dotted line between or other kind of separation

[2017-03-07 07:34] mcgarciawq commented on #267
I can add more margin between them instead of a line, if you see better :)

[2017-03-07 08:30] jlbellido commented on #267
@keilovecraft Yes it would be better. :-)

[2017-03-07 10:20] ckrina commented on #267
Yes, I think padding or margin would be better :)

[2017-03-09 20:02] jlbellido opened #270 "[REST] Allow to access to program via REST API"
We need to get the different resources that compose the program via REST. All of the different resources.

- /api/users/
- /api/sessions/
- /api/program/
- /api/keynotes/

[2017-03-10 20:06] jlbellido commented on #270
Submitter all the REST endpoints:

NOTE: for /api/program/ you must specify a program ID. If not, you'll get an empty response.

[2017-03-11 19:33] natete commented on #270
Hi,

I've been testing the api and it works pretty fine but it'd be nice to have a couple of extra fields in the program endpoint:

- (field_session: Content) Content: Body
- (image from field_image) File: URI

To speaker image uri (when it's a keynote) I added a new relationship:

-  (field_session: Content) image from field_image

Finally I had to enable cors. Locally I used the drupal/cors modu

[2017-03-13 21:35] jlbellido commented on #270
Hi @natete , My apologies because my late reply.

I've added the body to the program endpoint.

Regarding the field_uris I didn't add them because if I do we'll get duplicated the number of rows, and I think it will be hard to handle from your side. If it is ok for you, I'll add them.

Finally, regarding the cors module, I'd like to check an alternatuive way. If it is not blocking you, tomorrow fo

[2022-04-09 06:26] luismagr commented on #227
I guess this issue could be closed 😅